.center {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.required:focus {
	background-color: silver;
}

fieldset {
	border: 1px solid black;
	float: left;
}

#login_button {
	float: right;
}