.center {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

nav {
	position: absolute;
	left: 85%;
	top: 0;
}

#logout {
	margin: 30px;
}

#addMeasure {
	margin-top: 40px;
}

#sbpMeasure,#dbpMeasure,#datetime,#handSelector,#pulseMeasure,#addMeasureButton {
	display: inline;
}

#sbp,#dbp,#pulse {
	width: 50px;
}

#datetimepicker {
	width: 150px;
}

#measureId,#deleteMeasureButton {
	display: inline;
}

#del {
	width: 150px;
}